<div>
    <app-navbar (searchEvent)="getMovies($event)"></app-navbar>
    <div class="container pt-5">
        <div class="row">
            <ng-container *ngIf="(movies | keyvalue)?.length">
                <h2>{{title}}</h2>
                <div class="col-lg-2 mb-3 d-flex" style=" margin-bottom:10px;" *ngFor="let movie of movies">
                    <div class="card" style="width: 12rem;">
                        <a (click)="goToMovie(movie.id)">
                            <img [src]="movie.poster_path != null ? 'https://image.tmdb.org/t/p/w500/' + movie.poster_path : noimage"
                                class="card-img-top">
                            <div class="card-body">
                                <h6 class="card-title text-black">{{movie.title}}</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>