<div>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 class="text-danger">Oops !</h1>
                    <h2 class="text-danger">Coming soon...</h2>
                    <div class="error-details">
                        Sorry, this page is on construction! Please come back later...
                    </div>
                    <div class="error-actions">
                        <a routerLink="/" class="btn btn-home btn-sm">Take Me Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>