<div class="h-100 border border-danger p-5 header">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <h1 class="text align-self-center p-2 fakeflix">FAKEFLIX</h1>
      </div>
    </div>
  </header>
</div>

<router-outlet></router-outlet>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-5 border-top">
  <div class="d-flex align-items-center">
      &copy; {{currentYear}} - Delmerie JOHN ROSE
  </div>
</footer>